<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639112256214-5hrj0igtm2a2pbq6cs9tgj93u80lr57b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639112256214-5hrj0igtm2a2pbq6cs9tgj93u80lr57b</string>
	<key>API_KEY</key>
	<string>AIzaSyANZE9QYYl0x9_Hj3FQYryn_menQkERexc</string>
	<key>GCM_SENDER_ID</key>
	<string>639112256214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>humanity-cash-mobil-33300.botics.co</string>
	<key>PROJECT_ID</key>
	<string>humanitycashcrowdbotics</string>
	<key>STORAGE_BUCKET</key>
	<string>humanitycashcrowdbotics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639112256214:ios:b08782fe43714877a4c777</string>
</dict>
</plist>