@import "../../theme.css";

/* CALENDAR */

th.fc-col-header-cell.fc-day {
    border: 0px solid transparent !important;
}

.fc .fc-daygrid-day-frame {
    position: absolute;
}
.fc-daygrid-day-top{
    height: 40px;
}
.fc-scroller{
    overflow: unset !important;
}

.fc-daygrid-day-events{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.my-event{
    margin-left: 10px;
    height: 30px;
    padding-left: 10px;
}
.my-event-overlapped {
    height: 14px;
    width: 14px;
    border-radius: 10px;
    margin-top: 20px;

}

.my-event-overlapped-story{
    background-color: var(--green);
}

.my-event-overlapped-event{
    background-color: var(--blue);
}

.my-event-story{
    border-left: 3px solid var(--green) !important;
}

.my-event-event{
    border-left: 3px solid var(--blue) !important;
}


.my-event-title{
    color: var(--dark);
    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.my-event-subtitle{
    color: var(--gray);
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 0px;
}

.fc-day{
    width: 50px;
    height: 50px;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid var(--orange);
}

.fc-daygrid-day-number{
    font-weight: 700;
    text-decoration: none;
    color:   var(--dark);
    font-size: 20px;
    margin: 10px;
}
.fc-col-header-cell-cushion {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--gray);
    font-size:15px;
}

/* END CALENDAR */
.calendar-content{
    background: var(--background);
    padding-left: 0px;

}
.calendar-left-column{
    background: var(--white);
    border: 1px solid var(--orange);
    padding:20px;
    border-radius: 10px;
    z-index: 1 !important;
}

.calendar-right-column{
    background: var(--background);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /*margin-left: -30px;*/
    padding-left: 25px;
    padding-top:25px;
}

.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #ddd;
    border: 0px;
}

.main-row{
    margin-bottom: 50px;
}

.all-in-month-title{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
}

/* scrollbar */

.fakeScroll {
    overflow: visible !important;
}

.scroll-container {
    position: relative;
    margin-right: 1em;
    height: 50vh;

    box-sizing: border-box;
}

.fakeScroll__track {
    background: none;
    z-index: 1;
    padding: 0 1px;
    border: 1px dotted silver;
    transition: 0.1s;
}

.fakeScroll__bar {
    background: var(--blue);
}

.fakeScroll__bar:hover {
    background: var(--blue);
}

.fakeScroll--grabbed .fakeScroll__bar {
    background: var(--blue);
}

