

.input-steps {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    width: 100%;
    padding :0 10px;
}

.start-problem-button {
    width: 300px!important;
    height: 50px;
    background: #3C88B7;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.start-problem-button:hover {
    background: #3C88B780
}


.start-form-content-container {
    background: #FFFFFF;
    border-radius: 20px!important;
    height: 500px;
    border: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.main-container {
    justify-content: center;
}

.login-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 450px;
}

.form-group {
    align-items: center;
    display: block;
    padding: 5px;
}

.input-field {
    background-color: #EFEFEF;
    height: 55px;
    border: none;
    border-radius: 3px;
}

.input-field:focus {
    background-color: #FFF;
    border: 2px solid #D59B76;
    outline: none;
}

.login-label {
    text-align: center;
    color: #3C88B7;
    font-size: 32px;
}

.login-sub {
    text-align: center;
    font-size: 16px;
}
