.decoratedSpan{
    border-radius: 4px;
    color:var(--white);
    padding: 5px 10px 5px 10px;
}
.createdTitle{
    font-size: 14px;
    color: var(--dark);
    font-weight: 500;
}

.createdSubtitle{
    font-size: 12px;
    color: var(--gray);
    font-weight: 500;
}

.actionButton{
    width: 120px;
}
.text{
    color:var(--blue)
}
