:root {
    --green: #8D955D;
    --blue: #3B88B6;
    --blue-dark: #1c638d;
    --dark: #0D0E20;
    --orange: #D59B76;
    --gray: #666666;
    --light-grey:#F4F4F2;
    --background: #F7F5F0;
    --white: #ffff
}
