@import "colors.css";

.text-green{
    color: var(--green);
}

.text-blue{
    color: var(--blue)
}

.text-gray{
    color: var(--gray)
}

.border-green{
    border:1px solid var(--green)
}

.border-blue{
    border: 1px solid  var(--blue);
}

.btn-outline-primary:hover {
    color: var(--blue-dark);
    background-color: white;
    border-color: var(--blue-dark);
}

.btn-primary:hover, .btn-primary:active {
    color: var(--white);
}

