@import "colors.css";

.text-green{
    color: var(--green);
}

.text-blue{
    color: var(--blue)
}
.text-pink{
    color: var(--pink)
}
.text-gray{
    color: var(--gray)
}

.border-green{
    border:1px solid var(--green)
}

.border-orange{
    border:1px solid var(--headings)
}


.border-blue{
    border: 1px solid  var(--blue);
}

.btn-outline-primary:hover {
    color: var(--blue-dark);
    background-color: white;
    border-color: var(--blue-dark);
}

.btn-primary:hover, .btn-primary:active {
    color: var(--white);
}

.form-control{
    border: 1px solid var(--headings);
    border-radius:14px;
    /*height: 40px;*/
}
.search-button-navbar{
    border: none !important;
    background-color: var(--background);
    border-radius: 6px;
}

.search-button-navbar:focus {
     box-shadow: 0 0 0 0.25rem var(--background);
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #ffffff;
    background-color: #589ac1;
    border-color: #4f94bd;
    box-shadow: 0 0 0 0.25rem rgb(50 116 155 / 50%);
}
/*@font-face {*/
/*    font-family: 'Gotham';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local('Gotham'), url('./assets/fonts/GothamBook.woff') format('woff');*/
/*}*/





