.tableHead {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    vertical-align: middle;
}

.textTD{
    font-size: 16px;
    color: var(--blue)
}

.deleteTD{
    text-align: right;
}
.tableHeader {
    height: 50px;
    border-bottom: 2px solid #3B88B6;
}
.tableData {
    /*vertical-align: middle;*/
}
.tableRow {
    align-items: center;
    border-bottom: 1px solid var(--orange);
    height: 55px !important;
}
.table{
    height: 60%;
    min-height: 600px;
}

.paginationContainer{
    /*position: fixed;*/
    /*bottom:0px;*/
    /*width: 90%;*/
}
