
.container-count-paginate{
    justify-content: start;
}


.action-paginate {
    padding: 10px;
    border: none;
}

.action-paginate a {
    border: none;
}

.action-item a {
    border: 1px solid green;
    padding: 11px;
    width: 48px;
    margin: 6px;
    border-radius: 50%;
    text-align: center;
    color: Green;

    &:active {
        background: Green;
        color: white;
    }
}

.action-item .page-link {
    border: 1px solid rgba(141, 149, 93, 1);
    padding: 11px;
    width: 48px;
    margin: 6px;
    border-radius: 50%;
    text-align: center;
    color: rgba(141, 149, 93, 1);

    &:active {
        background: rgba(141, 149, 93, 1);
        color: white;
    }
}

.page-item.active .page-link {

    z-index: 3;
    color: #fff;
    background-color: rgba(141, 149, 93, 1);
    border-color: rgba(141, 149, 93, 1);
}

.count-paginate {
    font-size: 17px;
    font-weight: 300;

    & span {
        color: black;
        font-size: 19px;
    }
}

.col-paginate{
    padding-block-start: 21px;
}