

.submit-button-outline:hover {
    background: #eee
}

.start-form-content-container {
    background: #FFFFFF;
    border-radius: 20px !important;
    border: none;
}


.main-container {
    justify-content: center;
}

.login-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.form-group {
    align-items: center;
    display: block;
    padding: 5px;
    width: 443px;
    align-self: center;
}

.input-field {
    background-color: #EFEFEF;
    border: none;
    border-radius: 3px;
    height: 55px;
    width: 443px;
}

.input-field:focus {
    background-color: #FFF;
    border: 2px solid #D59B76;
    outline: none;
}

.login-label {
    text-align: center;
    color: #3C88B7;
    font-size: 32px;
}

.login-sub {
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    font-family: Gotham;
    line-height: 20%;
    color: #2e2e2e;
}

.forgot-password {
    text-align: right;
    vertical-align: top;
    font-size: 16px;
    text-decoration: underline;
    color: #d59b76;
    margin-top: 25px;
    cursor: default;
}

.inputlabel {
    font-size: 12px;
    font-family: Gotham;
    line-height: 100%;
    color: #2e2e2e;
}

.eyes-buttons-invalid, .eyes-buttons-invalid:hover{
    border-top-color: var(--error);
    border-right-color: var(--error);
    border-bottom-color: var(--error);
}
