.nav-container {
    background: white;
}

.nav-title {
    font-family: Gotham;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: $primary
}

.filter-navbar {
    padding-inline-end: 58px;
    padding-inline-start: 50px;
}

.search-navbar {
    padding-inline-end: 58px;
    padding-inline-start: 50px;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55) !important;
    font-size: 17px !important;
    border-color: white !important;
}