.sidebar {
    background: #F7F5F0;
    color: #fff;
    // height: 100vh;
    width: 63px;

    //transition: all 0.5s;
}

.open-sidebar {
    display: none;
}

.sidebar-container {
    width: 300px;
}

.top_section {
    display: flex;
    align-items: center;
    margin-block-end: 53px;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: none;
}

.link {
    display: flex;
    color: black;
    padding: 10px 15px;
    gap: 15px;

    text-decoration: none;

    &:hover {
        color: $primary;

        .icon-nav svg {
            & path {
                stroke: $primary;
            }
        }
    }

    &:active {
        color: $primary;

        .icon-nav svg {
            & path {
                stroke: $primary;
            }
        }
    }

    &:active .icon-nav svg:hover {
        & path {
            stroke: $primary;
        }
    }

}

.active {
    color: #3B88B6;

    .icon-nav svg {
        & path {
            stroke: $primary;
        }
    }
}


.icon,
.link_text {
    font-size: 20px;
}

.logo-sidebar {
    padding-block-end: 100px;

    &:hover {
        padding-block-end: 0px;
    }
}


@media only screen and (max-width: 768px) {
    .sidebar-control{
        display: none;
    }
    .content-children {
        padding-left: 6px !important;
        padding-right: 6px !important;
        background: white;
    }

    .sidebar {
        position: absolute;
        z-index: 10;
        width: 300px;
        // display:none;
    }

    .paginate {
        flex-direction: column;

        .container-count-paginate {
            justify-content: center;
        }
    }

    .filter-navbar {
        display: none;
    }

    .search-navbar {
        display: none;
    }

    .open-sidebar {
        display: block !important;
    }


    .bars {
        display: flex;
        font-size: 25px;
        margin-left: 245px;
    }

}

.logount-buttons {
    padding-block-end: 100px;
    padding-top: 62px;
}
