.status-complete-badge {
    width: 102px;
    height: 26px;
    left: 343px;
    top: 390px;
    background: #8D955D;
    color: white;
    border-radius: 5px;
    padding: 6px;
}

.withdrawal-badge {
    width: 102px;
    height: 26px;
    left: 343px;
    top: 390px;
    background: #DF9BB8;
    color: white;
    border-radius: 5px;
    padding: 6px;
}

.deposit-badge {
    width: 102px;
    height: 26px;
    left: 343px;
    top: 390px;
    background: #3B88B6;
    color: white;
    border-radius: 5px;
    padding: 6px;
}


.withdrawal-text {
    color: #DF9BB8;
}

.deposit-text {
    color: #3B88B6;
}

.td-date-date {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.td-date-hours {
    font-size: 13px;
    color: #808080;
    font-weight: bold;
}