//font


.title-start-form-primary {
    font-size: 23px;
    text-align: center;
    color: #3C88B7;
    font-weight: 400;
    font-family: $typography;
}

.title-start-form-secondary {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    font-family: $typography;
    color: #2e2e2e;
}

.title-h4 {
    padding-block-end: 31px;
    padding-block-start: 31px;
    font-size: 32px;
    font-family: 'Gotham';
    font-weight: 400;
    line-height: 30.62px;
    color: #3B88B6;
}

.title-h6 {
    width: 310.87px;
    height: 18.88px;
    top: 413.62px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #666666;
}
